header{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  color: #E1624F;
}

body{
  background-color: rgb(7, 7, 7);
  background-size: cover;
}
#page{
  box-sizing: border-box;
  width: 1480px;
  padding:65px;
  background-color:#4d4b4a;
  border-radius: 40px;
  margin: 100px auto;
  border: 80px 88px;
}
div{
  box-sizing: border-box;
  width: 1120px;;
  background-color:#F5F4F0;
  padding: 80px 88px;
  margin: 188px auto;

}

img {
  max-width: 100%;
  height: auto;
}

.bom-para .item-azul{
  color:#0C51A7
 }
.bom-para .item-roxo{
  color:#591B98;
}
.bom-para .item-rosa{
  color: #E5245E;
}
.bom-para .item-lar{
  color: #E95E10;
}

span{
  font-size: 16px;
  text-align: center;
  display: flex;
  color: #333333;
}

h1{
  color:#1B1B1B ;
  font-size: 36px;
}

h2{
  font-size: 32px;
  color: #333333;
}
footer{
  text-align: center;
}